* {
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento Sans', sans-serif; 
}

/*
uncomment this for something crazy

body {
  background-image: url('img/pobrane.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}*/

.website__headerwrapper {
  overflow: hidden;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  height: 75px;
}

.website__button1 {
  margin-left: 20px;
  box-shadow: -5px 10px;
  border-right: none;
  border-left: 3px solid black;
  border-radius: 5px 0px 0px 5px;
}

.website__button2 {
  margin-right: 20px;
  box-shadow: 5px 10px;
  border-left: none;
  border-right: 3px solid black;
  border-radius: 0px 5px 5px 0px;
}

.website__button {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  color: black;
  font-family: inherit;
  font-size: inherit;
  background: none;
  padding: 25px 80px;
  margin-top: 60px;
  font-weight: 700;
  opacity: 0.9;
  outline: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  height: 650px;
  width: 100px;
}

.website__button:hover,
.website__button:active {
  color: #0e83cd;
  opacity: 0.7;
}

.webiste__portrait {
  -webkit-transition: padding 2s;
}

.website__parallax-second:hover .webiste__portrait {
  transition: all 0.5s ease-out;
  opacity: 0;
}

.website__parallax-third:hover .webiste__portrait {
  transition: all 0.5s ease-out;
  opacity: 0;
}

.website__parallax-fourth:hover .webiste__portrait {
  transition: all 0.5s ease-out;
  opacity: 0;
}

.website__parallax {
  font-size: 70px;
  min-height: 780px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website__parallax-first {
  background-image: url('img/1.jpg');
}

.website__parallax-second {
  background-image: url('img/portrait/1.jpg');
}

.website__parallax-third {
  background-image: url('img/event/1.jpg');
}

.website__parallax-fourth {
  background-image: url('img/nature/1.jpg');
}

.website__covering-div {
  margin: 10px;
  padding-left: 110px;
  padding-right: 50px;
  height:300px;
  background-color: #437C90;
  font-size:20px;
  color: black;
  font-style: black;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact {
  margin: 10px;
  height: 700px;
  background-color: #ededed;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.medias {
  display: flex;
  flex-direction: row;
  padding: 40px;
}

.website_socialMedia--social {
  padding: 40px;
}

.contact-contact {
  padding: 30px;
}

.social-header {
  padding: 40px;
}

@media (max-width: 1200px) and (min-width: 900px) {

.website__covering-div {
font-size: 17px;
padding-left: 50px;
padding-right: 50px;
display: flex;
justify-content: center;
align-items: center;
}

.website__button {
width: 50px;
height: 400px;
margin: 10px;
}

.website__covering-div:before {
display: none;
}

.covering-div2 {
font-size: 17px;
}

.website__parallax-first {
min-height: 700px; 
width: 100%;
background-size: cover;
}

.website__parallax-second {
min-height: 700px; 
width: 100%;
}

.website__parallax-third {
min-height: 700px; 
width: 100%;
}

.website__parallax-fourth {
min-height: 700px; 
width: 100%;
}
}

@media (max-width: 899px) and (min-width: 650px) {

.website__headerwrapper {
  background-color: black;
  height: 50px;
  font-size: 10px;
}

.website__button {
  width: 100px;
  height: 200px;
  color: black;
  opacity: 0.8;
  border-style: none;
}

.website__parallax { 
  display: none;
  font-size: 10px;
  width: 100vw;
  background-size: 100vw;
  height: 400px;
}

.website__covering-div {
  height: 500px;
  color: black;
  font-style: black;
  font-size: 18px;
  margin: 1px;
  padding: 20px;
  text-align: center;
}

.contact {
  font-size: 30px;
  height: 600px;
  margin: 1px;
  padding: 1px;
}

.website_socialMedia--social {
  width: 60px;
  height: 60px;
}
}

@media (max-width: 650px) and (min-width: 200px) {

.website__headerwrapper {
  font-size: 10px;
}

.website__parallax { 
  display: none;
  font-size: 10px;
  width: 100vw;
  background-size: 100vw;
  height: 400px;
}

.contact {
  font-size: 20px;
  height: 500px;
  margin: 1px;
  padding: 1px;
  display: flex;
  flex-direction: column;
}

.website_socialMedia--social {
  width: 40px;
  height: 40px;
}

.website__covering-div {
  height: 800px;
  font-size: 16px;
  margin: 1px;
  padding: 10px;
}
}